<p>Guten Tag,</p>

<p>Sie haben sich für die Warteliste von GoAuftrag angemeldet.</p>

<p>Bitte bestätigen Sie Ihre E-Mail-Adresse, indem Sie auf den folgenden Link klicken:</p>

<p><a href="<%= @confirmation_url %>"><%= @confirmation_url %></a></p>

<p>Dieser Link ist 24 Stunden gültig.</p>

<p>Falls Sie sich nicht angemeldet haben, können Sie diese E-Mail ignorieren.</p>
